main
test_runner
*.o
*.a
*.so
*.exe
*.swp
googletest/build/
googletest/*.o
googletest/*.a
googletest/*.so
googletest/*.exe
googletest/Makefile
googletest/CMakeCache.txt
googletest/CMakeFiles/
googletest/*.cmake
googletest/CTestTestfile.cmake
googletest/Testing/
googletest/*.swp
googletest/*~
todo.txt
