main
test_runner
*.o
*.a
*.so
*.exe
*.swp
*.txt
*.COM
*.ASM
.DS_Store
*.DS_Store
googletest/build/
googletest/*.o
googletest/*.a
googletest/*.so
googletest/*.exe
googletest/Makefile
googletest/CMakeCache.txt
googletest/CMakeFiles/
googletest/*.cmake
googletest/CTestTestfile.cmake
googletest/Testing/
googletest/*.swp
googletest/*~
todo.txt
test.py
rotate.py
*invaders.rom
src/invaders.rom
